:root {
    --body-color: #f7f8fd;
    --text-color-gray: #647196;
    --title-color-blue: #3a4374;
    --bg-buttons-blue-clair: #f2f4ff;
    --text-color-clair-buttons: #4661e6;
    --bg-marine-blue: #373f68;
    --color-purple: #ad1fea;
    --color-saumon: #f49f85;
    --color-cyan: #62bcfa;
}

@font-face {
    font-family: Jost;
    src: url('../assets/font/Jost.ttf');
}

body {
    font-size: 16px;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

/* Feedback Details Page */

.feedbackDetails {
    width: 1024px;
    margin: 30px auto;
    font-family: Jost;
    background-color: var(--body-color);
}

.feedbackDetails__header {
    display: flex;
    justify-content: space-between;
}

.feedbackDetails__header__back-button {
    background-color: transparent;
    border: none;
    color: var(--title-color-blue)
}

.feedbackDetails__header__back-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.feedbackDetails__header__back-button span {
    margin-right: 10px;
}

.feedbackDetails__header__edit-button {
    padding: 10px 15px;
    background-color: var(--text-color-clair-buttons);
    color: white;
    font-weight: 600;
    border-radius: 10px;
    border: none;
}

.feedbackDetails__header__edit-button:hover {
    cursor: pointer;
    background-color: #5e78ea;
}

.feedbackDetails__currentComment__content-item {
    display: flex;
    padding: 10px;
    margin-top: 15px;
}

.feedbackDetails__currentComment__content-item__upvotes {
    display: flex;
    flex-direction: column;
    width: 10%;
    margin: 5px auto 0px auto;
    text-align: center;
    font-weight: 700;
    font-size: .8rem;
}

.feedbackDetails__currentComment__content-item__upvotes svg {
    margin: 10px auto 1px auto;
}

.feedbackDetails__currentComment__content-item__content {
    width: 80%;
    text-align: left;
    padding: 10px;
    margin: auto;
}

.feedbackDetails__currentComment__content-item__content h4, p{
    margin: 0px;
}

.feedbackDetails__currentComment__content-item__content-tag {
    color: var(--text-color-clair-buttons);
    margin: 10px 0px 0px 20px;
    font-weight: 600;
}

.feedbackDetails__currentComment__content-item__comments {
    display: flex;
    width: 10%;
}

.feedbackDetails__currentComment__content-item__comments {
    margin: auto;
}

.feedbackDetails__currentComment__content-item__comments p {
    font-weight: 700;
}

.feedbackDetails__currentComment__content-item__comments svg {
    margin: auto 10px;
}

.feedbackDetails_separator {
    border: 1px solid rgba(124, 124, 124, 0.1);
    width: 100%;
    margin: 50px 10px;
}

.feedbackDetails__commentBlock__header {
    display: flex;
    justify-content: space-between;
}

.feedbackDetails__commentBlock__header__infos {
    display: flex;
}

.feedbackDetails__commentBlock__header__infos-avatar img {
    border-radius: 100%;
}

.feedbackDetails__commentBlock__header__infos-name {
    margin: auto 15px;
}

.feedbackDetails__commentBlock__header__infos-name h4, .feedbackDetails__commentBlock__header__infos-name p {
    margin: 0;
}

.feedbackDetails__commentBlock__header-reply {
    margin: auto 0px;
}

.feedbackDetails__commentBlock__header-reply__button {
    background-color: transparent;
    border: none;
    color: var(--text-color-clair-buttons);
    font-weight: 600;
}

.feedbackDetails__commentBlock__header-reply__button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.feedbackDetails__commentBlock__main, .feedbackDetails__commentBlock__footer {
    width: 80%;
    margin: auto;
}

.feedbackDetails__commentBlock__footer {
    display: flex;
    margin-top: 20px;
}

.feedbackDetails__commentBlock__footer-input {
    width: 100%;
    resize: none;
    min-height: 100px;
    border: 1px solid var(--bg-marine-blue);
    border-radius: 10px;
    padding: 5px;
}

.feedbackDetails__commentBlock__footer-input:focus {
    outline: none;
}

.feedbackDetails__commentBlock__footer-send {
    background-color: var(--color-purple);
    height: fit-content;
    width: 20%;
    border: none;
    font-weight: 600;
    padding: 10px;
    color: white;
    border-radius: 12px;
    margin-left: 50px;
}